Profile {
  Name = "webui-admin"
  JobACL = "*all*"
  ClientACL = "*all*"
  StorageACL = "*all*"
  ScheduleACL = "*all*"
  PoolACL = "*all*"
  FileSetACL = "*all*"
  CatalogACL = "*all*"
  CommandACL = "!.bvfs_clear_cache, !.exit, !.sql, !configure, !create, !delete, !purge, !sqlquery, !umount, !unmount, *all*"
  WhereACL = "*all*"
  PluginOptionsACL = "*all*"
}
